@media screen and (max-height: 900px) {
    #nav .playlist-n-scroll {
        max-height: 100px;
        overflow: auto;
    }
}
@media screen and (max-height: 650px) {
    #nav .nav-col-botn {
        display: none;
    }
}

/* tablet */
@media screen and (max-width: 768px) {
    
}


/* telefono normale */
@media screen and (max-width: 425px) {
    
}


/* telefono xs */
@media screen and (max-width: 320px) {
    
}